//colors text
$custom-color-title-section: #6EC1E4;
$custom-color-title-paragraph: #3A3A50;
$custom-color-thin-paragraph: #5E5E5E;
$custom-text-white: #ffff;

//color brand
$custom-primary-color: #1E1F21; // #6EC1E4
$custom-secondary-color: #363639;
$custom-tertiary-color: #09C2DD;

//font-size section and card
$custom-title-section-size: 42px;
$custom-sub-title-l: 30px; //title or sub-title
$custom-sub-title-m: 24px; //title or sub-title
$custom-sub-title-s: 23px; //title or sub-title

//font-size background-image
$custom-title-xl: 119px;
$custom-title-l: 117px;
$custom-title-m: 72px;
$custom-title-s: 42px;

//btn style
$custom-btn-padding: 0.5rem 1rem 0.5rem  1rem;
$custom-btn-border-radius: 0.5rem;

//card padding
$custom-card-padding: 1rem 2rem 1rem 2rem;

//utilities
$custom-label-color: #5C5C5C;
$custom-icon-color: #5C5C5C;
$custom-border-color: #5C5C5C;
$custom-outline-color:#FCFFB2;

// state colors
$state-todo: #FCFFB2;
$state-ongoing: #80FF80;
$state-done: #FE5658;

// company colors
$company-orange-id: #FF8400;
$company-lubex: #00A6FF;

